{% extends "base.html" %}

{% block content %}
  <h1>Delete Item</h1>
  <p>Are you sure you want to delete the item?</p>
  <strong>Key:</strong> <span>{{ keystore.key }}</span><br>
  <strong>Value:</strong> <span>{{ keystore.value }}</span><br>
  <strong>Created At:</strong> <span>{{ keystore.created_at }}</span><br>
  <strong>Last Update At:</strong> <span>{{ keystore.updated_at }}</span> <br>
  <strong>By:</strong> <span>{{ keystore.client_ip }}</span> 

  <form method="POST" class="mt-3">
    {% csrf_token %}
    <a href="{% url 'kvstore_list' %}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>

{% endblock content %}

